@model PartyInvitationApp.Models.PartyModels.Party

@{
    ViewData["Title"] = "Delete Party";
}

<h2 class="text-center text-danger mt-3">Delete Party</h2>
<p class="text-center text-warning">Are you sure you want to delete this party?</p>

<div class="card p-4">
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EventDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EventDate)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Location)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>
    </dl>

    <div class="text-center mt-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="PartyId" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
        </form>
    </div>
</div>
