@model PartyInvitationApp.Models.PartyModels.Party

@{
    ViewData["Title"] = "Party Details";
}

<h2 class="text-center text-info mt-3">Party Details</h2>

<div class="card p-4">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>

    <div class="text-center mt-3">
        <a asp-action="Edit" asp-route-id="@Model.PartyId" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
    </div>
</div>
